@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 255, 238);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    margin: 10px;
}

.caja {
    background-color: skyblue;
    color: rgb(39, 39, 39);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
    transform: translateX(200%);
    transition: transform 0.4 ease;
}

.caja:nth-of-type(even) {
    transform: translateX(-200%);
}

.caja.enseñar {
    transform: translateX(0);
}

.caja h2 {
    font-size: 45px;
}