@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h1 {
    font-size: 4rem;
    color: white;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.boton {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    text-decoration: none;
    color: white;
    border: white solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 15rem;
    padding: 1.5rem;
}

.split.izquierda .boton:hover {
    background-color: rgba(87, 84, 236, 1);
    border-color: rgba(87, 84, 236, 1);
}

.split.derecha .boton:hover {
    background-color: rgba(28, 122, 28, 1);
    border-color: rgba(28, 122, 28, 1);
}

.contenedor {
    position: relative;
    width: 100%;
    height: 100%;
    background: #333;
}

.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split.izquierda {
    left: 0;
    background: url('img/ps5.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.split.izquierda::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(87, 84, 236, 0.7);
}

.split.derecha {
    right: 0;
    background: url('img/xbox.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.split.derecha::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 43, 43, 0.8);
}   

.split.derecha, .split.izquierda, .split.derecha::before, .split.izquierda::before {
    transition: all 1000ms ease-in-out;
}

.hover-izquierda .izquierda {
    width: 75%;
}

.hover-izquierda .derecha {
    width: 25%;
}

.hover-derecha .derecha {
    width: 75%;
}

.hover-derecha .izquierda {
    width: 25%;
}

@media(max-width: 800px) {
    h1 {
        font-size: 2rem;
        top: 30%;
    }

    .boton {
        padding: 1.2rem;
        width: 12rem;
    }
}